.form {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}
.form input {
    width: calc(100% - 32px);
    height: 48px;
    border: 1px solid #cfccc9;
    border-radius: 8px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
    padding: 0 16px;
}
.form textarea {
    width: calc(100% - 32px);
    height: 96px;
    border: 1px solid #cfccc9;
    border-radius: 8px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
    padding: 16px;
}

.form > div {
    gap: 16px;
}

.form input[type="file"] {
    display: none;
}

.customfileupload {
    border: 1px solid #cfccc9;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 48px;

    border-radius: 8px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}

.pageButton {
    border: none;
    height: 48px;
    background: inherit;
    border-radius: 8px;
    text-align: left;
    font-size: 16px;
    line-height: 150%;
    padding: 0 16px;
    color: #000000;
    cursor: pointer;
    align-self: flex-start;
}

.pageButton:disabled {
    background: rgba(0, 0, 0, 0.08) !important;
    cursor: default !important;
    align-self: initial !important;
}

.pInputContainer {
    position: relative;
    float: left;
}
.pInputContainer:after {
    position: absolute;
    right: -16;
    top: -16;
    content: '%';
}

.percent{
    text-align: right;
    // width: 100%;
    position: relative;
    right: 8px;
    bottom: 32px;
  }