.navbar {
    display: flex;
    align-items: center;

    height: 64px;
    margin: 8px 0;
    // padding: 0 8px;
}

.navbarInternal {
    display: flex;
    align-items: center;

    height: calc(100% - 16px);
    width: 100%;
    margin: 8px;
}

.logoLink:hover {
    background-color: initial !important;
}

.navbarInternal a {
    height: 100%;
    color: black;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;

}

.navbarInternal a:hover {
    background-color: #c4c4c4;
}

.activeLink {
    background-color: #c4c4c4;
    cursor: default !important;
}

.navbarInternal form {
    margin-left: auto;
    height: 100%;
}

.navbarInternal button {
    position: relative;
    right: 0;
    /* Black/100 */
    background: #000000;
    border-radius: 8px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #FFFFFF;
    height: 100%;

    margin-left: 16px;

    border: 2px solid #000000;
}