.headerContainer {
    // height: 320px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tagMargin {
    margin: 0;
}

.tagContainer {
    margin-left: 10vw;
}

@media (min-width: 768px) {
    .tagContainer {
        margin-left: 20vw;
    }
}

@media (min-width: 992px) {
    .headerContainer > div {
        height: 320px;
    }

    .tagMargin {
        margin-bottom: 64px !important;
    }

    .tagContainer {
        margin-left: 0;
    }
}

.mainHeader {
    color: #000;
    font-size: 58px;
    font-weight: 500;
    line-height: 119%;
}

.linkRow {
    display: flex;
    flex-wrap: wrap;
    // max-height: 513px;
    column-gap: 8px;
    margin-bottom: 8px;
}

.linkCard {
    position: relative;
}
@media (min-width: 769px) {
    .linkCard {
        aspect-ratio: 1 / 1;
    }
}

.overlay {
    position: absolute;
    bottom: 8px;
    height: calc(100% - 40px);
    color: #fff;
    backdrop-filter: blur(24px) brightness(80%);
    border-radius: 8px;
    margin: 0 8px;
    padding: 12px;
    width: calc(100% - 16px - 24px);
    font-size: 12px;
}
.overlay > h2 {
    margin-bottom: 4px;
}

@media (min-width: 769px) {
    .overlay {
        padding: 24px;
        height: calc(112px - 48px);
        width: calc(100% - 16px - 48px);
    }
}

@media (min-width: 992px) {
    .overlay {
        height: calc(92px - 48px);
    }
}

.trendingRow {
    display: flex;
    flex-wrap: wrap;
    // height: 407px;
    gap: 8px;
    margin-bottom: 8px;
}

.trendingCol {
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}

.socialRow {
    display: flex;
    flex-wrap: wrap;
    // height: 407px;
    gap: 8px;
    // max-height: 220px;
}
// @media (min-width: 992px) {
//     .socialRow {
//         max-height: 220px;
//     }
// }

.discordCard {
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    background: #000;
}

.discordCard h2 {
    margin-bottom: 32px;
}

.discordCard div p {
    margin: 0;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    line-height: 120%;
}

.discordCard div button {
    background: #fff;
    color: #000;
    font-size: 16px;
}